<hr>    
<div class="contact-page">   
<div class="jump-spacer" id="contact"></div>
    
    <div class="container">
         
        <h1>Contact.</h1>
            
    <div class="grid">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2 contact-info">
            
           
            
       
            <ul>    
                <li>
                    The Trenches Media Inc.
                </li>
                
                <li>
                    Toronto, ON
                </li>
                
            </ul>     
            
            
            
               <ul>    
                <li>
                    613.898.3255
                </li>
                
                <li>
                    info@thetrenchesmedia.com
                </li>
                
            </ul> 
                    
        </div>
        
        
        
<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2 form">
        <h2>Drop us a line.</h2>
        <p> Send us a message if you have any questions or want to get started on a project. </p>
     

 <form action="//formspree.io/info@thetrenchesmedia.com" method="POST" class="form">
     
    <label for="name">Name:</label>
        <input type="text" name="name">
    
     <label for="email" >Email:</label>
        <input type="email" name="_replyto">
    
    <label for="message">Message:</label>
        <textarea name="message"></textarea>
        
    <button class="send-button">Send Message</button>
</form>
            

</div>
        
    </div>
        
    
    </div> 
        </div>

