<div class="cover-page">
    
    <div class="billboard">
        
        <div class="word-container">
            <div class="word-box">
                <div class="logo">
                    <img src="images/trenches.svg"                                      class="trenches-logo">
                </div>
   
                <h1>Accelerating success&nbsp;with                              <yellow>Innovation.</yellow>
                </h1>
    
                <div class="cta-button">
                    <p>
                        <a href="#services">What We Offer</a>
                    </p>
                </div>  
            </div>
        </div>
        
        <div class="down">
            <a href="#work"><img src="images/arrow.svg"                   class="arrow grayscale opacity">
            </a>
        </div>
        
    </div>
        
</div>
    