<div class="lightbox" id="dtl">
    <a href="#work" class="lb-close">X</a>
    
       <ul class="lb-nav">
            <li class="pink">
                <a href="#iphone" class="lb-back"><</a>
             </li>
    
            <li class="pink">
            <a href="#smoque" class="lb-next">></a>
            </li> 
        </ul>
    
    <div class="lb-title-box">
        <h1 class="lb-title">Photoshoot 04/22/2015</h1>
    </div>  
            
    <div class="container">
            <div class="grid">
            
<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-2-3">

        <div class="photo-box">
                
        </div>

                
</div>
          
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1 unit-xl-1-3">
        <div class="shoot-info">
            <h2 class="band-name">Drag The Lake</h2>
                
               
               
                   <ul>
                        <li>Members:</li>
                        <li>Michael Hewat [Vocals]</li>
                        <li>Chris Pyrsos [Guitar]</li>
                        <li>Brian Bolt [Bass]</li>
                        <li>Curtis Hircock [Drums]</li> 
                    </ul>
                   
                   <ul>
                        <li>Producer:</li>
                        <li>Alex McFarland [Trenches Media]                              </li>
                    </ul>
                   
                    <ul>
                        <li>Photographer:</li>
                        <li>Jeffrey Care</li>
                       
                    </ul>
            </div>
                
     </div>
                
                   <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
        
    <div class="links">
        
        <img src="images/dtl.png" class="dtl-logo">
            
        <div class="social-buttons">    
            <h2>Socialize</h2>
            <img src="images/fb-bw.svg" class="social-icon">
            <img src="images/twitter-bw.svg" class="social-icon">    
        </div>
            
    </div>
                
                
                
    </div>
                
                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-3 unit-xl-2-3">
            
                  <h2>More from Drag The Lake</h2> 
        <div class="work opacity greyscale">
            <div class="scene-2-1">
            </div>
            
            <div class="scene-2-2">
            </div>
            
            <div class="scene-2-3">
            </div>
            
            <div class="scene-2-4">
            </div>
                
        </div>
                  
                
                
     </div>
                
 
                
            </div>
     </div>
   {% include footer.html %}
</div>