<!DOCTYPE html>
<html lang="en-ca">
    <head>
        <meta charset="utf-8">
        <title>The Trenches Media</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="css/grid.css" rel="stylesheet">
        <link href="css/typography.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    </head>
    
<body>
    
<div id="main">
                
<header id="header" role="header" id="top" class="banner">
        
    <input type="checkbox" class="nav-check" id="nav-check">
	   <label class="nav-label" for="nav-check">
            <img src="images/ham.svg" alt="hamburger button" class="ham">
            <img src="images/x.svg" alt="x" class="x">
        </label>
    
    <div class="trenches-title">
        <p class="trenches-top">The Trenches Media</p>
    </div>

    <nav class="nav">    
            <ul>    
                <li class="top-nav-li">
                    <a href="#services"><yellow>//</yellow>Services</a>
                </li>
                
               <li class="top-nav-li">
                    <a href="#work"><yellow>//</yellow>Work</a>
                </li>
                
                <li class="top-nav-li">
                    <a href="#events"><yellow>//</yellow>Events</a>
                </li>
                
                <li class="top-nav-li">
                    <a href="#about"><yellow>//</yellow>About</a>
                </li>
                
                <li class="top-nav-li">
                    <a href="#contact"><yellow>//</yellow>Contact</a>
                </li>
            </ul>
	</nav>
</header>
    
    
    <div class="desktop-nav"> 
                
        <div class="top-logo">
            <img src="images/trenches-wide.svg" class="small-trenches-logo">
        </div>
        
            <ul class="nav2">
                <li class="nav-li">
                    <a href="#services"><yellow>//</yellow>Services</a>
                </li>
                    
                <li class="nav-li">
                    <a href="#clients"><yellow>//</yellow>Clients</a>
                </li>
                    
                <li class="nav-li">
                    <a href="#about"><yellow>//</yellow>About</a>
                </li>
            
                <li class="nav-li">
                    <a href="#team"><yellow>//</yellow>Team</a>
                </li>
                    
                <li class="nav-li">
                    <a href="#contact"><yellow>//</yellow>Contact</a>
                </li>
            </ul>
        
    </div>
           