<hr>
<div class="services-page jump-spacer-wrap">
<div class="jump-spacer" id="services"></div>
   
    <div class="container"> 
        <div class="grid">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="services-info">
        <h1>Services.</h1>
          <p class="push-none"> Here are some of the services we offer
        </p>
            </div>
    
        </div>
            
        <div class="services-container  unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            
        <div class="grid">
            
        <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-xl-1-3">    
        <figure class="service opacity">
                    <img src="images/cam.png" class="services-icon" alt="video media icon">
            <figcaption>Video Productions</figcaption>    
        </figure>
        </div>
         
        
        
     <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <figure class="service opacity">
            <img src="images/graphic.png" class="services-icon" alt="graphic design icon">
            <figcaption>Graphic Design</figcaption>
        </figure>
         </div>
          
        
       
       
          <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-xl-1-3">       
                 <figure class="service opacity">
                    <img src="images/photo.png" class="services-icon" alt="photography media icon">
                    <figcaption>Photography</figcaption>
                </figure>
              </div>
    
            
            
        <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
                 <figure class="service opacity">
                    <img src="images/social.png" class="services-icon" alt="social media icon">
                    <figcaption>Social Media</figcaption>
                </figure>
            </div>
        

        
         <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-xl-1-3">  
                 <figure class="service opacity">
                    <img src="images/events.png" class="services-icon" alt="events media icon">
                    <figcaption>Events</caption>
                </figfigure>
             </div>
       <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
               <figure class="service opacity">
                    <img src="images/events.png" class="services-icon" alt="events media icon">
                    <figcaption>Management</caption>
                </figfigure>
           </div>
            
            </div>
             
    
        
        </div>
        </div>
    </div>
        

    </div>  
