 <hr>    
<div class="work-page jump-spacer-wrap">
<div class="jump-spacer" id="work"></div>
    
    <div class="container">
        
        <h1>Projects.</h1>
        
        
    <div class="grid">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            
             <a href="#dtl">
            <div class="work opacity grayscale">
                
                <div class="work-title">
                    <h2>Drag the Lake Photoshoot</h2>
                </div>
                
               
            <div class="scene-1-1">
                
            </div>
            
            <div class="scene-1-2">
                
            </div>
            
            <div class="scene-1-3">
              
            </div>
            
            <div class="scene-1-4">
                 
            </div>
                     
            </div>
                </a>
       
              
        </div>
        
        
        

        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            
        <a href="#dtl">
            <div class="work opacity grayscale">
                 
                <div class="work-title">
                    <h2>Among Giants Photoshoot</h2>
                  
                </div>
                      
            <div class="scene-2-1">
            </div>
            
            <div class="scene-2-2">
            </div>
            
            <div class="scene-2-3">
            </div>
            
            <div class="scene-2-4">
            </div>
                
            </div>
         </a>
              
    </div>
        
        
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <a href="#dtl">
            <div class="work opacity grayscale">
                
                <div class="work-title">
                    <h2>Love N Revenge Music Video</h2>
              
                </div>
                <div class="scene-3-1">
                </div>
            
                <div class="scene-3-2">
                </div>
            
                <div class="scene-3-3">
                </div>
            
                <div class="scene-3-4">
                </div>
            </div>
        </a>
              
    </div>
        
        
        
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
          <a href="#dtl">
            <div class="work opacity grayscale">
              
                <div class="work-title">
                    <h2>Lee Dodington Music Video</h2>
            
                    </div>
                    <div class="scene-4-1">
                    </div>
            
                    <div class="scene-4-2">
                    </div>
            
                    <div class="scene-4-3">
                    </div>
            
                    <div class="scene-4-4">
                    </div>
                </div>
            </a>
              
        </div>
    </div>   
        
        <div class="more-btn">
            <h1>show more</h1>
        </div>
        
        <h2>Popular.</h2>
        
    <div class="grid">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            
     <a href="#dtl">        
    <div class="popular work opacity grayscale">
               
    <div class="work-title">
    <h2>Drag the Lake Photoshoot</h2>
    </div>
        
            <div class="scene-4-1">
            </div>
            
            <div class="scene-4-2">
            </div>
            
            <div class="scene-4-3">
            </div>
            
            <div class="scene-4-4">
            </div>
            </div>
        </a>
              
    </div>  
        
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            
            <a href="#dtl">
                 <div class="popular work opacity grayscale">
                <div class="work-title">
                    <h2>Drag the Lake Photoshoot</h2>
            
                </div>
            <div class="scene-4-1">
            </div>
            
            <div class="scene-4-2">
            </div>
            
            <div class="scene-4-3">
            </div>
            
            <div class="scene-4-4">
            </div>
            </div>
                </a>
              
        </div>          
        
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
                
             <a href="#dtl">
                  <div class="popular work opacity grayscale">
               
                <div class="work-title">
                    <h2>Drag the Lake Photoshoot</h2>
            
                </div>
            <div class="scene-4-1">
            </div>
            
            <div class="scene-4-2">
            </div>
            
            <div class="scene-4-3">
            </div>
            
            <div class="scene-4-4">
            </div>
            </div>
                </a>
              
        </div>  
            
        
        </div>
         
    
    
    
    </div>
</div>

    
    