@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
   font-family: 'Didact Gothic', sans-serif;
    color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    padding:0;   
}


.opacity {
	opacity: 0.5;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity .2s linear;
	}	
	
.opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity .2s linear;
	}


.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/*======================================*/
/*===========Navigation=================*/
/*======================================*/

.skip-links{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.skip-links a{
    text-decoration: none;
    color:white;
    background-color:hotpink;
    top:-5em;
    position:absolute;
    z-index: 100;
    padding:1em;
}

.skip-links a:focus{
    text-decoration: line-through;
    outline: 1px solid #000;
    top:0;
}

.trenches-top{
    text-transform: uppercase;
    font-weight: 500;
    margin: 5% 5% 0; 
    font-size: 1.25em;
    color: black;

}

.x{
    display: none; 
    margin: .5em 2% .5em;
}


.ham{
    height: 50px;
    width: 50px;
    float: right;
    margin: .5em 2% .5em;
}

.nav {
	display: none;
   
}

.nav ul{
    text-align: center;  
    padding: 30% 0 0;
  font-size: 1.5em;
}

.nav ul li{
   text-decoration: none;
    text-transform: uppercase;
        margin: 1em auto 0;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    text-decoration: line-through; 
}

.nav ul li:active a{
    color:yellow;   
}




/* This selected targets the `.nav` only when the checkbox is checked */
.nav-check:checked ~ .nav{
	display: block;
    height: 100vh;
    background-color: rgba(255,255,255,.95);
     
}

.nav-check:checked ~ .nav-label .ham{
	display: none;
}

.nav-check:checked ~ .nav-label .x{
	display: block;
    float: right;
    height: 50px;
    width: 50px;
}

.nav-check {
	/* Put the checkbox off the top of the screen */
	position: absolute;
	top: -3em;
}


.desktop-nav{
    display: none; 
}

.desktop-nav ul li.middle {
 display:none;
}




.panel{
    float: right;   
    height: 100vh;
    background-color: white;
    width: 100%;
    display: none;
    z-index: 80;
}

.top-nav{
    float: right;      
}

.panel ul{
    list-style-type: none;
    margin: 50% auto 0;
    text-align: center;
    padding: 0;
}



.panel ul li:hover{
    text-decoration: line-through;  
}

.panel ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;   
}


.banner{

    height: 75px;
    width:100%;
    background-color:white;
    position: fixed;
    z-index: 70;
    display: inline-block;
    border-bottom: 3px solid #ffcd00 ;
    
}



.header{
    font-weight: 300;
    font-size: 3em;
    
}

.container{
    margin: 2em 10% 3em;    
}



.top-logo{
    float: left;
    width: 200px;
    position: absolute;
    left: 2%;
    top: 5px;

}

.small-trenches-logo{
    width: 120%;
    height: 120%;
    margin: 0;
}




/*======================================*/
/*===========Cover-Page=================*/
/*======================================*/

.cover-page{
    height: 100%;   
    width: 100%;

}

.trenches-logo{
    margin: 100px auto 0;
    width: 100%;
    height: 175px;
}

.logo{
    margin: 0 auto 0;
}

.billboard {
    background-image: url(../images/heartburn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    animation: bg-change 18s linear infinite;

}


@keyframes bg-change {
    0% {
     background-image: url(../images/heartburn.jpg);
    }
     19% {
     background-image: url(../images/heartburn.jpg);
    }
    
    
    20%{ background-image: url(../images/1-10.jpg);
    }
    39%{ background-image: url(../images/1-10.jpg);
    }
    
    
    40%{ background-image: url(../images/1-9.jpg);
    }
    59%{ background-image: url(../images/1-9.jpg);
    }
    
    
    60%{ background-image: url(../images/1-14.jpg);
    }
    79%{ background-image: url(../images/1-14.jpg);
    }
    
    
    80%{ background-image: url(../images/1-12.jpg);
    }
      99%{ background-image: url(../images/1-12.jpg);
    }
    
    
    100%{
        background-image: url(../images/heartburn.jpg);
    }
}


.billboard:hover{
         
}

.billboard h1{
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    color: white;
}


.word-container{
    margin: 0 10% 0;
    height: 100vh;
    position:relative;
    
}

.word-box{
    height: auto;
    bottom: 100px;
    width: 100%;
    position: absolute;
    
}



.arrow{
   height: 25px;
    bottom: 0;
}



.down{
    text-align:center;
    position: relative;
    z-index: 2;
    bottom: 50px;
}


.down:hover > .arrow{
    transform:    
    
}

.placeholder-push{
    height: 75px;
    width: 100%;
    color: white;
}

yellow{
    color: #ffcd00;
    font-weight: 400;
    text-transform: uppercase;
}


.cta-button{
    text-align: center;
    width: 100%;
    margin: 1.5em 0 0 ;

}




.cta-button a,
.cta-button a:link,
.cta-button a:visited{
    color:white;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid white;
    padding: .5em 5% .5em;

}
    
.cta-button a:hover{
    background-color:  #ffcd00;
    border: 1px solid white;
    color: black;
}


/* ABOUT page */

.about-page{
    height: 100%;  
    width: 100%;
}

.me{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/syd-logo.svg);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    display: block;
}

.about-work{

  width: 100%;
    height: 225px;
    position: relative;
    display: inline-block;

}

.about-info{
    margin: 0 10% 0 0;   
    
}



/*======================================*/
/*===========Services Page=================*/
/*======================================*/


.services-page{
    height: 100%;
}


.service{
    width: 100px;
    height: auto;
    display:inline-block;

    margin: 1em 5% 0 1em;
}


.services-icon{
    height: 50px;
}

.services-container{
    text-align: center;

}

.services-info h1{
    margin: 1em 0 1em;   
}

.service > img{
    margin: 0 25px 0;   
}

.service > figcaption{
    font-size: .75em;
    
}

.services-info{
    margin: 0 0 5% 0;   
    
}






/*======================================*/
/*=========== Page=================*/
/*======================================*/

.jump-spacer-wrap{
    position: relative;
}

.jump-spacer{
    
    position: absolute;
    top: -75px;
}

.clients-page{
    margin: 0;  
    height: 100%;
    width: 100%;
}


.client{
    width: auto;
    margin: 1em auto 0;
    display: inline-block;
   
    
}



.client-logo{
    height: 75px;
    margin: 0 auto 0;
   
   
}

.client-10{
    display: none;   
}

.clients-container{
    margin: 0em auto 4em;   
    
    
}

.clients-info h1{
    margin: 1em 0 1em;
}   

.clients-info{
    margin: 0 10% 0 0;   
    
}

/*======================================*/
/*===========lightbox=================*/
/*======================================*/

.lightbox{
    position: fixed;
    top:75px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 75px);
    display:none;
    background-color: white;
    -webkit-overflow-scrolling: touch;

}

.lightbox:target {
    display:block;
 
    
}



.lightbox > .container{
     overflow: hidden;

    margin: 75px 10% 1em;
    
    
}

.lb-content1{
    width: 100%   
    
}

.lb-close {
    position: absolute;
    top:0;
    left:0;
    margin: 0 auto .5px;
	text-decoration: none;
	background-color:#ffcd00;
	color: #fff;
	padding: 0.5em;
}


.photo-box{
    height: 300px;
    width: 100%;
    
    background-image: url(../images/1-20.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    
}

.shoot-info h1{
    margin: 0 0 .25em ;  
    font-size: 1em;
}

.shoot-info h2{
    margin: 0 0 .5em;   
    
}

.shoot-info ul{
    list-style: none;
    padding-left: 0;
}



.dtl-logo{
    width: 250px;
    height: auto;
    padding: 1em;
    
}

.buckets{

    
}
.bucket{
    border:1px solid gray;
    background-image: url(../images/1-14.jpg);
    background-position: center center;
    background-size: cover;
    width: 89px;
    height: 50px;
    display: inline-block;
    margin: .5em auto 1em;

    
}

.links{
    margin: 1em auto 1em;  
    text-align: center;
}

.links img{
    margin: 0 auto 0;
       
    
}

.social-buttons{
       
    margin: 0 auto 0;
}

.social-buttons h2{
    text-align: center;
    
}

/*======================================*/
/*===========Work Page=================*/
/*======================================*/

.work-page{
    height: 100%;   
    
}

.work {
    
    width: 100%;
    height: 225px;
    position: relative;
    display: inline-block;
}

.work-page h2{
    margin:0;
    font-size: 1em;
    
}

.work-title{
    opacity: 0;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 50;
    padding: 1em 10% 1em;
    margin: 0;
   
    
}

.work-title h2{
    font-size: 1.5em;
    line-height: 1.5em;
   color: white;
    margin-bottom: 0;
    
}

.work-title h3{
    font-size: .75em;
    color: #ffcd00
    
}

.work:hover .work-title{
    opacity: 1;
    

}






.scene-1-1{
    height: 150px;
    width: 70%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    background-image: url(../images/1-14.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-1-2{
    height: 75px;
    width: 30%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    top:0;
    right: 0;
     background-image: url(../images/1-22.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-1-3{
    height: 75px;
    width: 70%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
     background-image: url(../images/1-24.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.scene-1-4{
    height: 150px;
    width: 30%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
     background-image: url(../images/1-23.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}   
  


.scene-2-1{
    height: 112.5px;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
     background-image: url(../images/1-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-2-2{
    height: 56.25px;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    top:0;
    right: 0;
     background-image: url(../images/1-5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-2-3{
    height: 56.25px;
    width: 50%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    right:0;
    top:56.25px;
     background-image: url(../images/1-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.scene-2-4{
    height: 112.5px;
    width: 100%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
     background-image: url(../images/1-6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.scene-3-1{
    height: 225px;
    width: 20%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
     background-image: url(../images/1-29.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-3-2{
    height: 112.5px;
    width: 40%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    top:0;
    left: 20%;
     background-image: url(../images/1-26.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-3-3{
    height: 112.5px;
    width: 40%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    top: 0;
    right: 0;
     background-image: url(../images/1-28.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.scene-3-4{
    height: 112.5px;
    width: 80%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    left:20%;
     background-image: url(../images/1-27.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} 



  .scene-4-1{
    height: 112.5px;
    width: 60%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
       background-image: url(../images/1-8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-4-2{
    height: 112.5px;
    width: 40%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    top:0;
    right: 0;
     background-image: url(../images/1-7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scene-4-3{
    height: 112.5px;
    width: 40%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
     background-image: url(../images/1-9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.scene-4-4{
    height: 112.5px;
    width: 60%;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
     background-image: url(../images/1-11.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.popular-container{
    height: auto;
    width:100%; 
    margin: 1em auto 1em;
}

.popular{
    background-color:#eee;
    border: 1px solid white;
    height: 200px;
    width:100%;
    min-width: 100%;
    display: inline-block;
    margin: 0 auto 0;
    overflow: hidden;
    margin:  0;

    
    
}





/*======================================*/
/*===========Contact Page=================*/
/*======================================*/

.contact-page{
    width: 100%;
    height: 100%;

}



.social{
    list-style-type: none;
    display: inline-block;
}

.social-icon{
    width: 50px;   
    height: 50px;
  
}

.social-container{
    padding-left: 0;
    margin: 1em auto 0;
}

.copyright{
    font-size: .75em;
}

.cright{
    margin: 2em auto 0;   
    
}

.contact-info ul{
    list-style-type: none;
    padding-left: 0;
       
    
}



hr{
    border: solid 2px #ffcd00;
}

/*======================================*/
/*===========FORM=================*/
/*======================================*/

 
.form{
    padding:0 auto 1em;    
   
}

label{
    display:block;
    font-size: 1.5rem;
    
}

input{
    display: block;   
    width: 100%;
    height: auto;
    min-height: 75px;
    font-size: 1em;
    overflow-x: hidden;
}

.send-button {
    width: 50%;
    height: .5em;
    display:block;
    text-align: center;
    margin: 0 auto 0;
    border-radius: 0;
    text-decoration: none;
}

textarea{
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    min-height: 300px;
    height: auto;
    
}

.contact-page h2{
    margin: 0 0 0;   
}






/*======================================*/
/*===========Footer=================*/
/*======================================*/
.footer{
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 0 0 3em;
}





/*======================================*/
/*===========Media Queeries=================*/
/*======================================*/

@media only screen and (min-width: 30em){
    .word-container{
           margin: 0 20% 0;    
    }
    
    .container{
    margin: 1em 10% 4em;    
}

}

@media only screen and (min-width: 40em) {
        
    .word-container{
           margin: 0 20% 0;    
    }
    
    .mobile-logo{
        display: none;
    }
    
    .top-nav{
        display:none;   
    }
    
    .desktop-nav{
        text-transform: uppercase;
        font-size: .75;
        padding: 0;
        overflow: hidden;
        display: block;
        border-bottom: 3px solid #ffcd00;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color:white;
        color:black;
        height: 75px;
    }
    
    
    
    .desktop-nav.past-main {
        background-color:black;
        color:white;
}

    #main {
   
}

    #below-main {
    
}
    
    
    .desktop-nav ul{ 
        padding: 0 2% 0;
        list-style-type: none;
        float: right;
        text-align: center;
        overflow: hidden;
        font-family: Helvetica, arial, sans-serif;
    
    }
    
    .desktop-nav ul li:active a{
        color:yellow;   
        
    }

    .desktop-nav ul li:first-child{
    margin:0;   
    }

    .desktop-nav ul li{
    width: 3;
    padding: 30px 0 0;
    margin: 0;
    font-weight: 100;
    display: inline-block;
    }

    .desktop-nav ul li a {
    color: black;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
    text-decoration: none;
    display: block;
    font-size: .75em;
    }
    
    .desktop-nav ul li a:hover {
        text-decoration: line-through;
    }        
    .desktop-nav ul li.middle{
    padding: 45px 0 0;
    display: block;
    }
    
    .banner {
        display: none;   
    }
    
        
    .form-pad{    
        margin: 0 0;   
         float: left;
    }
    
    .billboard{
        height: 100vh;   
        
    }
    
    .syd-photo-container{
    margin: 0 auto 0; 
    padding: 0 5% 0;
    }

  
    .nav li a:active {
    color:red;   
    }
    
    .popular{
        width:33%;   
        
    }
    
    .services-container{
         
        
    }
    
    .clients-page{
        height: 100%;   
        
    }
    

    
.links{
    margin: 45px 0 0 5%;   
    
}
    
 
    
 


    
    
    
}


@media only screen and (min-width: 50em) {
    
      .word-container{
           margin: 0 25% 0;    
    }
    
      .services-buckets{
    margin: .5em 15% .5em;
    
}


    
    

    
}

@media only screen and (min-width: 60em) {
    
      .word-container{
           margin: 0 30% 0;    
    }
    

      

        
    }

    
@media only screen and (min-width: 70em) {
 
     .word-container{
           margin: 0 40% 0;    
    }
        
    
    
}

